/target/classes/com/example/sudoku/coords.class
/.idea/vcs.xml
/target/classes/com/example/sudoku/Kachel.class
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/target/classes/com/example/sudoku/Sudoku.class
/Sudoku.iml
/target/classes/com/example/sudoku/SudokuApp.class
/target/classes/com/example/sudoku/Tile$1.class
/target/classes/com/example/sudoku/Tile.class
/.idea/uiDesigner.xml
